body {
    background-color: #000;
    color: #fff;
    font-family: Ubuntu;
    font-size: 1em;
}
h1, h2, h3 {
    margin-top: 1em;
    margin-bottom: 0em;
    font-family: Ubuntu;
    color: #999;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2em;
    margin-top: 0.5em;
}
h3 {
    font-size: 1.5em;
}
.richrest-list {}
.richrest-list-item {}
.richrest-link {
    color: #0CC;
}
.richrest-link,
.richrest-key {
    font-weight: bold;
}
.richrest-key {
    color: #D50;
}
.richrest-value {
    color: #1B1;
}
